<div id="publish-success-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Task Published</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="task-message-container">
          <p><strong>Task code</strong></p>
          <pre id="task-code" class="task-message"></pre>
          <button id="copy-task-code" class="btn btn-secondary btn-sm copy-task-message-btn">Copy</button>
        </div>
        <div class="task-message-container">
          <p><strong>Task URL</strong></p>
          <pre><a id="task-url" href="#" target="_blank"></a></pre>
          <button id="copy-task-url" class="btn btn-secondary btn-sm copy-task-message-btn">Copy</button>
        </div>
        <div class="task-message-container">
          <p><strong>Task message</strong></p>
          <pre id="task-message" class="task-message"></pre>
          <button id="copy-task-message" class="btn btn-secondary btn-sm copy-task-message-btn">Copy</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>