/**
 * @file
 * CSS file for the map
 */

/**
 * Main Layout.
 */

/* @media screen {
  #printSection {
      display: none;
  }
} */

@media print {

  @page {
    size: landscape;
    margin:0.0mm;
  }
  button {
    visibility: hidden;
  }
  #uploader,#file-handler {
    visibility:hidden;
  }
  /* body * {
    visibility:visible;
  }  */
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }

  html, body {
    margin: 1mm;
    height: 100%;
    font-family :  Consolas, sans-serif;
    margin: 0 !important; 
    padding: 0 !important;
    overflow: hidden;
  }



  /* #taskboard {
    page-break-before: always;
  } */
  
  #taskboard {
    clear : both;
    position: absolute;
    top:0px;
    padding:0px;
    width: 100%;
    margin-top: 0px;
    margin-right: 0mm;
    margin-left: 0mm;
    font-size: 0.5em; 
    
    /* min-height: 100px;
    min-width: 240px ;
    border-radius: 1px; */
  }
  
  


}


.colorbox {
  float: left;
  width: 10px;
  height: 10px;
  margin: 5px;
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, .2);
  background: #13b4ff;
}



#simplemodal-container {
  background-color: #000000;
}

html, body {
  height: 100%;
  font-family :  Consolas, sans-serif;
}


.container-fluid, .row, #map-canvas, #sidebar {
  height : 100%;
}

#sidebar {
  font-family : Consolas,  sans-serif;

 background-color: #3b5998;
 color : #FFF;
}

#sidebar-inner {
  padding-top: 10px;
}

#sidebar form {
  cursor : pointer;
  padding : 10px;
  border : 3px dashed #EEE;
  text-align : center;
  font-family : cursive;
  font-style : italic;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
/*img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}*/

select {
  text-transform : capitalize;
}

/**
 * jGrowl Notification.
 */
#jGrowl.top-left {
}

.jGrowl .jGrowl-notification.error .jGrowl-header {
  color : #FF0000;
}

.jGrowl .jGrowl-notification.warning .jGrowl-header {
  color : #FF8000;
}

.jGrowl .jGrowl-notification.success .jGrowl-header {
  color : #04B404;
}

.jGrowl-header {
  text-transform: capitalize;
}

.jGrowl-message {
  font-size: 1.0em;
  color : #FFFFFF;
}


#taskDate {
  color : #FFFFFF;
  border: 0;
  cursor:pointer;

}

#taskInfo{
  color : #FFFFFF;
  border: 0;
}

#compInfo{
  color : #FFFFFF;
  border: 0;
}

/**
 * Filename List.
 */
#file-handler  .populated {
  /*background : repeating-linear-gradient(45deg, #575F4E, #575F4E 20px, #879279 20px, #879279 40px);*/
  background :  rgb(20, 20, 20);
  border: 1px solid #FFF;
  margin-top: 10px;
  padding-left : 5px;
}

#track-handler  .populated {
  /*background : repeating-linear-gradient(45deg, #575F4E, #575F4E 20px, #879279 20px, #879279 40px);*/
  background :  rgb(20, 20, 20);
  border: 1px solid #FFF;
  margin-top: 10px;
  padding-left : 5px;
}

#filenameList {
 list-style: none;
 padding : 5px 0px 5px 20px;
 /* cursor: pointer; */
}

#trackdelete {
  margin-right: 35px;
  list-style: none;
  padding : 5px 0px 5px 20px;
  cursor: pointer;
  float: right;
 }

 #trash {
  margin-right: 20px;
  list-style: none;
  padding : 5px 0px 5px 20px;
  cursor: pointer;
  float: right;
 }

 #trackname {
  margin-right: 20px;
  list-style: none;
  /* padding : 5px 0px 5px 20px; */
  cursor: pointer;
  float: left;
 }
 
 #trackcolor {
  list-style: none;
  padding : 5px 0px 5px 20px;
  cursor: pointer;
 }


/* #filenameList:hover {
  text-decoration : underline;
} */

#trackdelete:hover {
  text-decoration : underline;
}

#trackname:hover {
  text-decoration : underline;
}


#export-waypoints {
  margin-bottom : 10px;
}

gm-panel li {
  border: none;
}


/**
 * Taskboard.
 */
#taskboard {
  clear : both;
  margin-top: 10px;
  min-height: 100px;
  border : 1px solid #EEE;
  border-radius: 2px;
  background-color: #000;
  /*background-color: #879279;
  background-image: linear-gradient(45deg, #575F4E 25%, transparent 25%, transparent 75%, #575F4E 75%), 
  linear-gradient(45deg, #575F4E 25%, transparent 25%, transparent 75%, #575F4E 75%);*/
  background-size:20px 20px;
  background-position: 0 0, 50px 50px;
}

#taskboard .label {
  text-transform : uppercase;
  margin-right : 10px;
}

#taskboard-header {
  font-weight: bolder;
  color : #FFF;
  text-shadow: 0px 0px 10px #000;
  font-style: italic;
  font-family: cursive;
  font-size: 1.5em;
  text-align: center;
  margin-bottom : 10px;

}

hr{
  padding: 0px;
  margin: 3px;    
}

a:hover {
  cursor:pointer;
 }

#show-cumulative {
  color : #FFF;
  font-style: italic;
  font-family: cursive;
  margin-top : 5px;
  margin-right: 5px;
  font-size: 0.7em;
  text-decoration: underline;
  text-shadow : 0px 0px 10px #000;
}

#taskboard-content ul {
  padding-left : 5px;
}

#taskboard-content li {
  font-size: 1.0em;
  cursor: pointer;
  list-style-image : none;
  list-style-type : none;
  text-shadow : 0px 0px 10px #000;
}

#taskboard-content li:hover {
  text-decoration: underline;
}

#taskboard #task-distance {
  margin-top: 5px;
  text-align: right;
  font-size: 1.0em;
  padding-right: 10px;

}

#taskboard .turnpointDistance {
  float : right;
  width: 100px;
  text-align: right;
  margin-right: 5px;
}

#taskboard .taskboard-item {
  clear : both;
  margin-bottom: 5px;
}

/**
 * trask info
 */
 #track-info  {
  border : 1px solid #CCC;
  margin : 10px 10px;
  padding: 5px; 
  width: 600px;
  font-size : 1.0em;
  background: #3b5998;
  color: #FFFFFF;

}

#track-info-help {
  float : right;
  font-size : 0.9em;
  width: 100px;
  text-align: right;
  margin-right: 5px;
  color: #FFFFFF;

}




/**
 * Fullboard
 */
#full-board {
  margin-top : 5px;
}

#task-config .container-fluid {
  border : 1px solid #CCC;
  margin : 1px 0px;
}

#task-config .form-group {
  padding-top : 10px; 
}

#task-config  {
  font-size : 1.0em;
} 


#task-config i {
  margin-right : 10px;
}

#task-config ol, #task-config ul {
  padding-left : 0px;
}

#task-config ol li, #task-config ul li {
  list-style-type : none;
  list-style-image : none;
}


/* .modal-body {
  width: 800px;
}

.modal{
  width:800px;
} */
.modal-dialog{
  width:700px;
}



#fullboard-arrow, #fullboard-turn-word {
  text-align : center;
}

#fullboard-turnpoint ol {
  counter-reset: item;
  list-style-type: decimal;
}

#fullboard-turnpoint ol li:before {
  content: 'TP' counter(item, decimal) ' ';
  counter-increment: item;
  font-weight : bold;
}

#fullboard-turnpoint ol li {
  padding : 10px 0px;
}

#fullboard-turnpoint ol li:not(:last-child) {
  border-bottom : 1px dashed #CCC;
}

#fullboard-turnpoint span:first-of-type {
  margin-left : 10px;
}

#task-config {
  color : #000000;
  font-size: 1.0em;
}


#task-config h5, #task-config label {
  text-transform : uppercase;
}

#task-config h5 {
  color : #ac2925;
  font-size: 1.0em;
}

#fullboard-content span.tp-id {
  cursor : pointer;
} 

#fullboard-times .label {
  margin-right : 5px;
}

/**
 * Xavier Murillo hommage.
 */
span#fullboard-xm {
  float: right;
  font-size:0.2em;
}

/**
 * Waypoints Exporter
 */
#waypoints-exporter label {
  margin-right : 10px;
}

/**
 * Throber Spinner
 */
.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

/**
 * QR Code
 */
#save-qrcode {
  text-align : center;
}
