<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link rel=File-List href="taskboard_template_file/filelist.xml">
<style id="taskboard_template_25370_Styles"><!--table
	{mso-displayed-decimal-separator:"\.";
	mso-displayed-thousand-separator:" ";}
.xl1525370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman";
	mso-generic-font-family:auto;
	mso-font-charset:204;
	mso-number-format:General;
	text-align:left;
	vertical-align:top;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;}
.xl6325370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6425370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6525370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6625370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Date";
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6725370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6825370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Time";
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl6925370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7025370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7125370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7225370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7325370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Time";
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7425370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7525370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7625370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl7725370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:left;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;
	mso-text-control:shrinktofit;}
.xl7825370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:general;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:nowrap;
	mso-text-control:shrinktofit;}
.xl7925370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl8025370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Time";
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl8125370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:"Short Time";
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl8225370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl8325370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl8425370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl8525370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl8625370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl8725370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl8825370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl8925370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl9025370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:left;
	vertical-align:top;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl9125370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl9225370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:none;
	border-left:none;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl9325370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl9425370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
.xl9525370
	{padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:18.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Tahoma, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:top;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	mso-background-source:auto;
	mso-pattern:auto;
	white-space:normal;}
--></style>
</head>

<body>
<!--[if !excel]>&nbsp;&nbsp;<![endif]-->
<!--Le seguenti informazioni sono state generate dalla pubblicazione guidata
come pagina Web di Microsoft Excel.-->
<!--Se una voce viene pubblicata una seconda volta da Excel, verranno
sostituite tutte le informazioni tra i tag DIV.-->
<!----------------------------->
<!--INIZIO OUTPUT PUBBLICAZIONE GUIDATA COME PAGINA WEB -->
<!----------------------------->

<div id="taskboard_template_25370" align=center x:publishsource="Excel">

<table border=0 cellpadding=0 cellspacing=0 width=1032 style='border-collapse:
 collapse;table-layout:fixed;width:774pt'>
 <col width=172 span=6 style='mso-width-source:userset;mso-width-alt:7338;
 width:129pt'>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7025370 width=172 style='height:40.5pt;width:129pt'>TASK</td>
  <td class=xl7125370 width=172 style='border-left:none;width:129pt'>DATE</td>
  <td class=xl7125370 width=172 style='border-left:none;width:129pt'>QNH:</td>
  <td class=xl7125370 width=172 style='border-left:none;width:129pt'>FL:</td>
  <td rowspan=2 class=xl9325370 width=172 style='width:129pt'>TURN:</td>
  <td rowspan=2 class=xl9125370 width=172 style='width:129pt'><a name="RANGE!F1">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7225370 width=172 style='height:40.5pt;width:129pt'><a
  name="RANGE!A2">&nbsp;</a></td>
  <td class=xl6325370 width=172 style='border-left:none;width:129pt'><a
  name="RANGE!B2">&nbsp;</a></td>
  <td class=xl6325370 width=172 style='border-left:none;width:129pt'><a
  name="RANGE!C2">&nbsp;</a></td>
  <td class=xl6325370 width=172 style='border-left:none;width:129pt'><a
  name="RANGE!D2">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl8625370 width=172 style='height:40.5pt;border-top:none;
  width:129pt'>LAUNCH:</td>
  <td class=xl6625370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!B3">&nbsp;</a></td>
  <td class=xl6525370 width=172 style='border-top:none;border-left:none;
  width:129pt'>OPEN:</td>
  <td class=xl6825370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!D3">&nbsp;</a></td>
  <td class=xl6425370 width=172 style='width:129pt'>M.EXTENSION:</td>
  <td class=xl8225370 width=172 style='width:129pt'><a name="RANGE!F3">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl8625370 width=172 style='height:40.5pt;border-top:none;
  width:129pt'>HEIGHT:</td>
  <td class=xl6725370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!B4">&nbsp;</a></td>
  <td class=xl6525370 width=172 style='border-top:none;border-left:none;
  width:129pt'>CLOSE:</td>
  <td class=xl6825370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!D4">&nbsp;</a></td>
  <td class=xl6525370 width=172 style='width:129pt'>T.<span
  style='mso-spacerun:yes'>  </span>DEADLINE:</td>
  <td class=xl7325370 width=172 style='width:129pt'><a name="RANGE!F4">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl8625370 width=172 style='height:40.5pt;border-top:none;
  width:129pt'>START GATES:</td>
  <td class=xl6825370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!B5">&nbsp;</a></td>
  <td class=xl6825370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!C5">&nbsp;</a></td>
  <td class=xl6825370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!D5">&nbsp;</a></td>
  <td class=xl8025370 width=172 style='width:129pt'><a name="RANGE!E5">&nbsp;</a></td>
  <td class=xl8125370 width=172 style='width:129pt'><a name="RANGE!F5">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td colspan=3 height=54 class=xl8625370 width=516 style='border-right:.5pt solid black;
  height:40.5pt;width:387pt'>TURNPOINTS</td>
  <td class=xl8425370 width=172 style='border-top:none;border-left:none;
  width:129pt'>TYPE</td>
  <td class=xl8425370 width=172 style='border-top:none;border-left:none;
  width:129pt'>RADIUS</td>
  <td class=xl7425370 width=172 style='border-top:none;width:129pt'>DISTANCE</td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7525370 width=172 style='height:40.5pt;border-top:none;
  width:129pt'><a name="RANGE!A7">&nbsp;</a></td>
  <td colspan=2 class=xl8525370 width=344 style='border-right:.5pt solid black;
  border-left:none;width:258pt'><a name="RANGE!B7">&nbsp;</a></td>
  <td class=xl8525370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!D7">&nbsp;</a></td>
  <td class=xl6925370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!E7">&nbsp;</a></td>
  <td class=xl7625370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!F7">0</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7525370 width=172 style='height:40.5pt;border-top:none;
  width:129pt'><a name="RANGE!A8">&nbsp;</a></td>
  <td colspan=2 class=xl8525370 width=344 style='border-right:.5pt solid black;
  border-left:none;width:258pt'><a name="RANGE!B8">&nbsp;</a></td>
  <td class=xl8525370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!D8">&nbsp;</a></td>
  <td class=xl6925370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!E8">&nbsp;</a></td>
  <td class=xl7625370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!F8">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7725370 style='height:40.5pt;border-top:none'><a
  name="RANGE!A9">&nbsp;</a></td>
  <td colspan=2 class=xl8525370 width=344 style='border-right:.5pt solid black;
  border-left:none;width:258pt'><a name="RANGE!B9">&nbsp;</a></td>
  <td class=xl8525370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!D9">&nbsp;</a></td>
  <td class=xl6925370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!E9">&nbsp;</a></td>
  <td class=xl7625370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!F9">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7725370 style='height:40.5pt;border-top:none'><a
  name="RANGE!A10">&nbsp;</a></td>
  <td colspan=2 class=xl8525370 width=344 style='border-right:.5pt solid black;
  border-left:none;width:258pt'><a name="RANGE!B10">&nbsp;</a></td>
  <td class=xl8525370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!D10">&nbsp;</a></td>
  <td class=xl6925370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!E10">&nbsp;</a></td>
  <td class=xl7625370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!F10">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7725370 style='height:40.5pt;border-top:none'><a
  name="RANGE!A11">&nbsp;</a></td>
  <td colspan=2 class=xl8525370 width=344 style='border-right:.5pt solid black;
  border-left:none;width:258pt'><a name="RANGE!B11">&nbsp;</a></td>
  <td class=xl8525370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!D11">&nbsp;</a></td>
  <td class=xl6925370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!E11">&nbsp;</a></td>
  <td class=xl7625370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!F11">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7725370 style='height:40.5pt;border-top:none'><a
  name="RANGE!A12">&nbsp;</a></td>
  <td colspan=2 class=xl8525370 width=344 style='border-right:.5pt solid black;
  border-left:none;width:258pt'><a name="RANGE!B12">&nbsp;</a></td>
  <td class=xl8525370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!D12">&nbsp;</a></td>
  <td class=xl6925370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!E12">&nbsp;</a></td>
  <td class=xl7625370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!F12">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7725370 style='height:40.5pt;border-top:none'><a
  name="RANGE!A13">&nbsp;</a></td>
  <td colspan=2 class=xl8525370 width=344 style='border-right:.5pt solid black;
  border-left:none;width:258pt'><a name="RANGE!B13">&nbsp;</a></td>
  <td class=xl8525370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!D13">&nbsp;</a></td>
  <td class=xl6925370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!E13">&nbsp;</a></td>
  <td class=xl7625370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!F13">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7725370 style='height:40.5pt;border-top:none'><a
  name="RANGE!A14">&nbsp;</a></td>
  <td colspan=2 class=xl8525370 width=344 style='border-right:.5pt solid black;
  border-left:none;width:258pt'><a name="RANGE!B14">&nbsp;</a></td>
  <td class=xl8525370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!D14">&nbsp;</a></td>
  <td class=xl6925370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!E14">&nbsp;</a></td>
  <td class=xl7625370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!F14">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7725370 style='height:40.5pt;border-top:none'><a
  name="RANGE!A15">&nbsp;</a></td>
  <td colspan=2 class=xl8525370 width=344 style='border-right:.5pt solid black;
  border-left:none;width:258pt'><a name="RANGE!B15">&nbsp;</a></td>
  <td class=xl8525370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!D15">&nbsp;</a></td>
  <td class=xl6925370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!E15">&nbsp;</a></td>
  <td class=xl7625370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!F15">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7725370 style='height:40.5pt;border-top:none'><a
  name="RANGE!A16">&nbsp;</a></td>
  <td colspan=2 class=xl8525370 width=344 style='border-right:.5pt solid black;
  border-left:none;width:258pt'><a name="RANGE!B16">&nbsp;</a></td>
  <td class=xl8525370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!D16">&nbsp;</a></td>
  <td class=xl6925370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!E16">&nbsp;</a></td>
  <td class=xl7625370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!F16">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7825370 style='height:40.5pt;border-top:none'><a
  name="RANGE!A17">&nbsp;</a></td>
  <td colspan=2 class=xl8525370 width=344 style='border-right:.5pt solid black;
  border-left:none;width:258pt'><a name="RANGE!B17">&nbsp;</a></td>
  <td class=xl8525370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!D17">&nbsp;</a></td>
  <td class=xl6925370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!E17">&nbsp;</a></td>
  <td class=xl7625370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!F17">&nbsp;</a></td>
 </tr>
 <tr height=54 style='mso-height-source:userset;height:40.5pt'>
  <td height=54 class=xl7825370 style='height:40.5pt;border-top:none'><a
  name="RANGE!A18">&nbsp;</a></td>
  <td colspan=2 class=xl8525370 width=344 style='border-right:.5pt solid black;
  border-left:none;width:258pt'><a name="RANGE!B18">&nbsp;</a></td>
  <td class=xl8525370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!D18">&nbsp;</a></td>
  <td class=xl6925370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!E18">&nbsp;</a></td>
  <td class=xl7625370 width=172 style='border-top:none;border-left:none;
  width:129pt'><a name="RANGE!F18">&nbsp;</a></td>
 </tr>
 <tr height=129 style='mso-height-source:userset;height:96.75pt'>
  <td height=129 class=xl9525370 width=172 style='height:96.75pt;border-top:
  none;width:129pt'>TASK INFO:</td>
  <td colspan=3 class=xl9025370 width=516 style='width:387pt'><a
  name="RANGE!B19">&nbsp;</a></td>
  <td class=xl8325370 width=172 style='border-top:none;width:129pt'>TOTAL:</td>
  <td class=xl7925370 width=172 style='border-top:none;width:129pt'><a
  name="RANGE!F19">&nbsp;</a></td>
 </tr>
 <![if supportMisalignedColumns]>
 <tr height=0 style='display:none'>
  <td width=172 style='width:129pt'></td>
  <td width=172 style='width:129pt'></td>
  <td width=172 style='width:129pt'></td>
  <td width=172 style='width:129pt'></td>
  <td width=172 style='width:129pt'></td>
  <td width=172 style='width:129pt'></td>
 </tr>
 <![endif]>
</table>

</div>


<!----------------------------->
<!--FINE OUTPUT PUBBLICAZIONE GUIDATA COME PAGINA WEB-->
<!----------------------------->
</body>

</html>







